# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\koflerm\OneDrive - Alpen-Adria Universität Klagenfurt\Dokumente\AAU\AlgoDat\AB1\code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
